body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
.datepicker {
    max-width: 280px;
}

.ui-calendar input {width: 280px;}

.paginator {
    text-align: center;
}

.form-inline > * {
   margin:5px 3px;
}

.btn-group {
    margin: 10px 0px 10px 0px;
}

.filter-date input {
    width: 100%;
}

.ajax-loading {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.chart {
   font-family: Arial, sans-serif;
   font-size: 10px;
 }

.axis path, .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

rect:hover {
    fill: orange;
}

.statistic {
    font-weight: bold;
}

.btn-bar {
    margin: 10px 0px 10px 0px;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}


