<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="GoAber-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/GoAberDB</jta-data-source>
    <class>GoAberDatabase.Category</class>
    <class>GoAberDatabase.CategoryUnit</class>
    <class>GoAberDatabase.Challenge</class>
    <class>GoAberDatabase.Community</class>
    <class>GoAberDatabase.Device</class>
    <class>GoAberDatabase.DeviceType</class>
    <class>GoAberDatabase.GroupChallenge</class>
    <class>GoAberDatabase.Team</class>
    <class>GoAberDatabase.Unit</class>
    <class>GoAberDatabase.User</class>
    <class>GoAberDatabase.UserChallenge</class>
    <class>GoAberDatabase.UserRole</class>
    <class>GoAberDatabase.Role</class>
    <class>GoAberDatabase.ActivityData</class>
    <class>GoAberDatabase.JobDetail</class>
    <class>GoAberDatabase.WebServiceAuth</class>
    <class>GoAberDatabase.Audit</class>
    <class>GoAberDatabase.CommunityChallenge</class>
    <class>GoAberDatabase.DataRemovalAudit</class>
    <class>GoAberDatabase.Result</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
