
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    This page will begin the process to get OAuth access to a FitBit account. @Html.ActionLink("Start the process here", "StartOAuth", "FitBit"). 
</p>