
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <ul>
    <li>@Html.ActionLink("Get Step Data For Today", "ShowDay", "FitBit")</li>
    <li>@Html.ActionLink("Get Heart rate Data For Today", "ShowHeartDay", "FitBit")</li>
</p>