<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GoAberWSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50121/WebService/GoAberWS.asmx"
                binding="basicHttpBinding" bindingConfiguration="GoAberWSSoap"
                contract="GoAberWS.GoAberWSSoap" name="GoAberWSSoap" />
        </client>
    </system.serviceModel>
</configuration>