
@{
    ViewBag.Title = Resources.Device_DeleteTitle;
}

<h2>@Resources.Device_DeleteTitle</h2>

<p>
    <h2>@ViewBag.deviceName @Resources.Device_DeleteConnectionRevoked</h2>
    <hr />
    @Html.ActionLink(Resources.Device_DeleteBack, "Index", "Devices")
</p>