
@{
    ViewBag.Title = "Delete";
}

<h2>Device connections</h2>

<p>
    <h2>@ViewBag.deviceName has had its connection revoked.</h2>
    <hr />
    @Html.ActionLink("Back to device management", "Index", "Devices")
</p>