@{
    ViewBag.Title = Resources.confirmEmail_title;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @Resources.confirmEmail_thankYou Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
