@{
    ViewBag.Title = Resources.forgotPasswordConfirmation_title;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.forgotPasswordConfirmation_checkEmailMessage
    </p>
</div>
	
