@{
    ViewBag.Title = Resources.resetPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.resetPasswordConfirmation_passwordHasBeenReset Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
