
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <ul>
    <li>@Html.ActionLink("Get Activity Data For Today", "GetActivityDayPage", "Jawbone")</li>
    <li>@Html.ActionLink("Get Heart Data For Today", "GetHeartDayPage", "Jawbone")</li>
</p>