
@{
    ViewBag.Title = "Admin Control Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li>@Html.ActionLink("Manage Activity Data", "Index", "ActivityData")</li>
    <li>@Html.ActionLink("Manage Teams", "Index", "Teams")</li>
</ul>

